<div class="post" data-id="{{userPost.id}}">
    <div class="post-header">
        <h3 class="post-title">{{userPost.title}}</h3>
        <p class="post-author">Posted by <strong>{{userPost.author}}</strong> on <strong>{{userPost.createdAt}}</strong>
        </p>
    </div>
    <div class="post-body">
        <p class="post-content">{{userPost.post}}</p>
    </div>
</div>