<div class="post" data-id="{{userPost.id}}">
    <div class="post-header">
        <h3 class="post-title">{{userPost.title}}</h3>
        <p class="post-author">Posted by <strong>{{userPost.author}}</strong> on <strong>{{userPost.createdAt}}</strong></p>
    </div>
    <div class="post-body">
        <p class="post-content">{{userPost.post}}</p>
    </div>
</div>

<form id="new-comment-form">
  <div class="mb-3">
    <label for="comment" class="form-label">Your Comment: </label>
    <textarea class="form-control" id="comment" cols="30" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary login-btn">Submit</button>
</form>

<script src="./js/comments.js"></script>