<h1>User Dashboard</h1>

<form id="new-post-form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" id="content" cols="30" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary login-btn">Submit Post</button>
</form>

<button type="button" class="new-post btn btn-primary login-btn">New Post</button>

{{#each allPosts as |post|}}
    <div class="post" data-id="{{post.id}}">
        <div class="post-header">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="post-author">Posted by <strong>{{post.author}}</strong> on <strong>{{post.createdAt}}</strong></p>
        </div>
        <div class="post-body">
            <p class="post-content">{{post.post}}</p>
        </div>
    </div>
{{/each}}

<script src="./js/dashboard.js"></script>